body {
    margin: 0;
}




#principalNav {
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 115px;
    list-style-type: none;
    margin: 0px;
}

.nav-a {
    font-family: "Englebert", cursive;
    font-size: 30px;
    color: black;
    text-decoration: none;

    padding: 1rem 2rem;
    padding-top: 26px;
    border-radius: 4rem;

    cursor: pointer;

    transition: box-shadow 600ms cubic-bezier(.33, .11, .02, .99),
        transform 600ms cubic-bezier(.33, .11, .02, .99);

    &:hover {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1),
            0 1px 6px rgba(0, 0, 0, .05),
            0 8px 8px rgba(0, 0, 0, .1),
            0 16px 16px rgba(0, 0, 0, .1),
            8px 16px 16px rgba(0, 0, 0, .15),
            8px 32px 32px rgba(0, 0, 0, .15);

        transform: scale(1.05) translateY(-0.5rem);
    }

    &:active {
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1),
            0 1px 6px rgba(0, 0, 0, .05),
            0 8px 8px rgba(0, 0, 0, .1),
            0 16px 16px rgba(0, 0, 0, .1),
            8px 8px 8px rgba(0, 0, 0, .15),
            8px 16px 16px rgba(0, 0, 0, .15);
    }
}

#blur-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 3;
}

#cookieConsent {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    z-index: 10;
    border-radius: 20px;
}

#acceptCookies {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #a88989;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 15px;
    margin: 10px 5px;
}

#rejectCookies {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    background-color: #beaaaa85;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 15px;
    margin: 10px 5px;
}

.modal-title {
    margin-bottom: 0;
}

.modal-img {
    width: 400px;
}

#modal-img-div {
    display: flex;
    align-items: flex-end;
}

#video-intro {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    margin-top: 115px;
}

.video-wrapper {
    width: 400px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1;
}

.title {
    color: black;
    z-index: 1;
}

#logo {
    width: 400px;
    z-index: 1;
    color: white;
}

#introduction {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    padding-top: 15px;
}

.img-hayao {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hayao {
    border-radius: 100%;
    width: 70%;
}

.text-hayao {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50%;
    margin-right: 100px;
}

#submenu {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 20px 50px 0 50px;
    height: 220px;
}

#submenu img {
    height: 80px;
}

#submenu img:hover {
    transform: scale(1.5);
}

.link-movies {
    height: 40px;
}

#title-movies {
    text-align: center;
}

.actual-movie1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 80px 0;
}

.actual-movie2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    margin: 80px 0;
}

.img-movie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-movie img {
    width: 80%;
    border-radius: 50px;
}

.text-movie {
    width: 50%;
    margin-right: 100px;
}

.text-movie2 {
    width: 50%;
    margin-left: 100px;
}

.data {
    padding-left: 0;
}

span {
    background: linear-gradient(rgb(167, 160, 160), lightgray);
    border-radius: 5px;
    padding: 12px 10px 8px 10px;
    font-family: "Englebert", cursive;
    font-size: 1em;
}

#newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 60vh;
    margin-top: 120px;
    background-color: #beaaaa85;
}

#formStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    margin-top: 40px;
    height: 300px;
}

.firstname {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

#firstname, #email {
    border-width: 1px;
    border-radius: 20px;
    height: 25px;
}

.email {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

#button-div {
    align-self: center;
}

.buttonStyle {
    font-family: "Englebert", cursive;
    font-size: 30px;
    color: black;
    text-decoration: none;
    border-style: none;

    margin-top: 65px;
    padding: 1rem 2rem;
    padding-top: 26px;
    border-radius: 4rem;

    cursor: pointer;

    transition: box-shadow 600ms cubic-bezier(.33, .11, .02, .99),
        transform 600ms cubic-bezier(.33, .11, .02, .99);

    &:hover {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1),
            0 1px 6px rgba(0, 0, 0, .05),
            0 8px 8px rgba(0, 0, 0, .1),
            0 16px 16px rgba(0, 0, 0, .1),
            8px 16px 16px rgba(0, 0, 0, .15),
            8px 32px 32px rgba(0, 0, 0, .15);

        transform: scale(1.05) translateY(-0.5rem);
    }

    &:active {
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1),
            0 1px 6px rgba(0, 0, 0, .05),
            0 8px 8px rgba(0, 0, 0, .1),
            0 16px 16px rgba(0, 0, 0, .1),
            8px 8px 8px rgba(0, 0, 0, .15),
            8px 16px 16px rgba(0, 0, 0, .15);
    }
}

.agreement {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

footer {
    padding-top: 140px;
    background-image: url("./assets/castillo_footer.png");
    background-size: contain;
    background-size: cover;
    background-color: #beaaaa85;
}

footer p {
    margin-bottom: 0;
    color: whitesmoke;
}

h1 {
    font-family: "Englebert", cursive;
    font-weight: 500;
    font-size: 80px;
    font-style: normal;
    margin-left: 115px;
    margin-top: 6%;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 2em;
}

h3 {
    font-family: "Englebert", cursive;
    font-weight: 300;
    font-size: 2.5em;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

strong {
    font-weight: 400;
}
.section_carrousel {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

#intro_carrousel {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.item_carrousel {
    width: 200px;
    height: 200px;
    list-style-type: none;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

    &:nth-child(1),
    &:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }

    &:nth-child(3) {
        left: 50%;
    }

    &:nth-child(4) {
        left: calc(50% + 220px);
    }

    &:nth-child(5) {
        left: calc(50% + 440px);
    }

    &:nth-child(6) {
        left: calc(50% + 660px);
        opacity: 0;
    }
}



.item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.nav_carrousel {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    user-select: none;

    & .btn {
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.7);
        border: 2px solid rgba(0, 0, 0, 0.6);
        margin: 0 0.25rem;
        padding: 0.75rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

@media (width > 650px) and (width < 900px) {
    .content {
        & .title {
            font-size: 1rem;
        }

        & .description {
            font-size: 0.7rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 170px);
        }

        &:nth-child(5) {
            left: calc(50% + 340px);
        }

        &:nth-child(6) {
            left: calc(50% + 510px);
            opacity: 0;
        }
    }
}

@media (width < 650px) {
    .content {
        & .title {
            font-size: 0.9rem;
        }

        & .description {
            font-size: 0.65rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 130px;
        height: 220px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 140px);
        }

        &:nth-child(5) {
            left: calc(50% + 280px);
        }

        &:nth-child(6) {
            left: calc(50% + 420px);
            opacity: 0;
        }
    }
}